
.name {
	color:#4da15e ;
	font-size: 40px;
}

body {
	width: 100%;
	margin: 0px;
	background-color: #d9ffe1;
}



nav {
	margin: 0px auto 0;
	position: relative;
	width: 80%;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: black;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 20%;
}
a:nth-child(2) {
	width: 20%;
}
a:nth-child(3) {
	width: 20%;
}
a:nth-child(4) {
	width: 20%;
}
a:nth-child(5) {
	width: 20%;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 20%;
	left: 0;
	background-color: #AAF3B9;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 20%;
	left: 20%;
	background-color: #86EF9C;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 20%;
	left: 40%;
	background-color: #59ED78;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 20%;
	left: 60%;
	background-color: #3BEC60;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 20%;
	left: 80%;
	background-color: #10C837;
}

.navBar {
	width: 100%;
	background-color: #effff0;
}

.searchForm {
	display: table;
	margin-top: 5%;
	margin-left: 40%;
	text-align: left;
}

.champ {
	display: table-row;
}

.input {
	display:table-cell;
	padding-right: 5px;
}
