
.name {
	color:#4da15e ;
	font-size: 40px;
}

body {
	width: 100%;
	margin: 0px;
	background-color: #d9ffe1;
}



nav {
	margin: 0px auto 0;
	position: relative;
	width: 80%;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: black;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 20%;
}
a:nth-child(2) {
	width: 20%;
}
a:nth-child(3) {
	width: 20%;
}
a:nth-child(4) {
	width: 20%;
}
a:nth-child(5) {
	width: 20%;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 20%;
	left: 0;
	background-color: #AAF3B9;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 20%;
	left: 20%;
	background-color: #86EF9C;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 20%;
	left: 40%;
	background-color: #59ED78;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 20%;
	left: 60%;
	background-color: #3BEC60;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 20%;
	left: 80%;
	background-color: #10C837;
}

.navBar {
	width: 100%;
	background-color: #effff0;
}

.searchForm {
	display: table;
	margin-top: 5%;
	margin-left: 40%;
	text-align: left;
}

.champ {
	display: table-row;
}

.input {
	display:table-cell;
	padding-right: 5px;
}

footer{
    background:rgba(17, 17, 17, 0.863);
    position:absolute;
    bottom:0;
    width:99%;
    height:50px;
    padding-bottom: 20px;
}

.text_footer {
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(216, 206, 192);
    width: 100%;
}

.link {
    margin-right: 65px;
    text-align: right;
}


.t {
  border-collapse: collapse;
  border: 2px solid rgb(200,200,200);
  letter-spacing: 1px;
  font-size: 0.8rem;
}

.t {
  border: 1px solid rgb(190,190,190);
  padding: 10px 20px;
}

/*th.t {
  background-color: rgb(235,235,235);
}*/

td.t {
  text-align: center;
}

tr.t:nth-child(even) td.t {
  background-color: rgb(250,250,250);
}*/


caption {
  padding: 10px;
}

/* input[type="submit"] { */
.loginout {
font-size: .9em;
color: #fff;
background: #76b852;
outline: none;
border: 1px solid #76b852;
cursor: pointer;
padding: 0.9em;
-webkit-appearance: none;
width: 100%;
margin: -1.4em 0;
letter-spacing: 4px;
}

.confrej{
font-size: .9em;
color: #fff;
background: #76b852;
outline: none;
border: 1px solid #76b852;
cursor: pointer;
padding: 0.9em;
-webkit-appearance: none;
width: 46%;
margin: -2.4em 0;
letter-spacing: 4px;
text-align: center;
}
.annot{
font-size: .9em;
color: #fff;
background: #76b852;
outline: none;
border: 1px solid #76b852;
cursor: pointer;
padding: 0.9em;
-webkit-appearance: none;
width: 48%;
margin: 0.6em 0;
letter-spacing: 3px;
text-align: center;
}
.modifrole{
font-size: .9em;
color: #fff;
background: #76b852;
outline: none;
border: 1px solid #76b852;
cursor: pointer;
padding: 0.9em;
-webkit-appearance: none;
width: 24%;
margin: -2.4em 0;
letter-spacing: 4px;
text-align: center;
}

.assign{
font-size: .9em;
color: #fff;
background: #76b852;
outline: none;
border: 1px solid #76b852;
cursor: pointer;
padding: 13;
-webkit-appearance: none;
width: 24%;
margin: -2.4em 0;
letter-spacing: 4px;
text-align: center;
position : relative;
top : -12px;
left : -18px;

}

.search{
font-size: .9em;
color: #fff;
background: #76b852;
outline: none;
border: 1px solid #76b852;
cursor: pointer;
padding: 0.9em;
-webkit-appearance: none;
width: 80%;
margin: -2.4em 0;
letter-spacing: 4px;
text-align: center;
}

.table_infos {
	margin-left: 30%;
	width: 40%;
	margin-top: 5%;
	border: 1px solid black;
	word-break: break-all;
}
.th_infos {
	text-align: center;
	background-color: #effff0;
}

.tr_infos {

}

tr.tr_infos:hover {
	background-color: white;
}

.td_infos {
	width: 50%;
	border-bottom: 1px solid black;
}

.gene {
	position: relative;
}

.gene:hover{
	background-color: #DCED0B;
}

.gene .tooltip{
	visibility: hidden;
	width: 300px;
	height: 60px;
	border-radius: 10px;
	background-color: white;
	border: 2px solid black;
	top: 100%;
	left: 50%;
	position: absolute;
	padding: 5px;
	z-index: 1;
	text-align: center;
}

.gene:hover .tooltip {
	visibility: visible;
}

a.clickable_cds {
	text-decoration: none;
	color: #424949;
}
